body{
    font-family: 'Raleway', sans-serif;
}


/* navbar */
.back{
    background: #090909 !important;
}
.light{
    background: #090909 !important;
}
.nav-link{
    letter-spacing: 2px;
}
.navbar-brand img{
    width: 100px;
}
/* jumbotron */
.jumbotron{
    background-image: url(../img/back.gif);
    height: 100vh;
    background-position: left; 
    position: relative;
}
.jumbotron h1{
    color: #ffffff;
    font-size: 20px;
}
 p{
    color:#E3DADA;
    font-size: 10px;
}
.jumbotron .container{
    padding-left: 50px !important;
    padding-top: 150px !important;
    padding-right: 50px !important;
    
}
.jumbotron strong{
    color:red;
    font-weight: 9000 !important;
}
#home .btn{
    font-size: 10px !important;
}

/* scroll mause gif */
.scroll{
    position:absolute;
    bottom: 0;
    margin-left: 27%;
    width: 10%;
    margin-bottom: 25px;
}
.scroll:hover{
    cursor: pointer;
}
.scroll img{
    width: 50px;
}
.scroll small{
    color:#F7F7F7;
    letter-spacing: 2px;
}

/* stripped background */
.bg-1{
    background: #ffffff;
    padding: 25px;
    
}
.title{
    letter-spacing: 2px; 
    font-size: 14px;
    margin-bottom: 20px;
}

.title::after{
    content: '';
    display: block; 
    border-bottom: 2px solid #EF1212;
    width: 15%;
    margin: auto;  
    padding-top: 3px; 
}

.skill{
    margin-top: 25px;
}

.progress{
    border-radius: 0px;
    margin-bottom: 10px;
}
.img-thumbnail{
    width: 170px;
    margin-bottom: 10px;
}

.progress-bar{
    padding: 10px;
}

.fab{
    margin-right:6px;
}







/* desktop version */
@media (min-width: 992px) { 

    /* navbar */
    .back{
        background: transparent !important;
    }
    .light{
        background: #090909 !important;
    }
    .nav-link{
        text-transform: uppercase;
        margin-right: 30px;
        letter-spacing: 2px;
    }
    .navbar-brand img{
        width: 200px;
    }

    /* on hover navbar */
    .nav-link.active::after{
        content: '';
        display: block;
        border-bottom: 3px solid #EF1212;
        width: 60%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    /* jumbotron */
    .jumbotron{
        background-image: url(../img/background.png);
        height: 100vh;
    }
    .jumbotron h1{
        font-size: 50px !important;
        text-shadow: rgba(0, 0, 0, 0.9);
    }
    .jumbotron .container{
        padding: 150px !important;
    }
    p{
        font-size: 17px;
    }
    #home .btn{
        font-size: 17px !important;
        margin-right:15px;
    }

    /* about */
    .bg-1 .container{
        padding-left: 100px;
    }
    .bg-1{
        padding: 100px;
    }
    .title{
        letter-spacing: 3px; 
        font-size: 25px;
        margin-bottom: 20px;
    }
    
    .title::after{
        content: '';
        display: block; 
        border-bottom: 3px solid #EF1212;
        width: 5%;
        margin: auto;  
        padding-top: 3px; 
    }
    .progress{
        border-radius: 0px;
        height: 23px;
        margin-bottom: 20px;
    }
    .skill{
        margin-top: 10px;
    }
    .img-thumbnail{
        width: 210px;
        margin-bottom: 10px;
    }

    .fab{
        margin-right:10px;
    }
    
 }